nav {
    display: flex;
    background-color: brown;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
nav button{
    align-items: center;
    background-color: black;
    margin: 10px;
    width: 100px;
    height: 30px;
    color: aliceblue;
}