@import url(https://fonts.googleapis.com/css?family=Lato:400,100);

* {
	-webkit-box-sizing: border-box ;
	-moz-box-sizing : border-box ;
	Box-sizing : border-box ;
}
a{
	color: inherit;
	text-decoration: none;
}
h3, h4, p {
	Margin: 0;
}
/* #error html {
	background-image: url(https://i.ytimg.com/vi/BB7jEHPBf-4/maxresdefault.jpg);
	background-size: auto 540px;
	height : 100%;
	Font-family: 'lato';
}
#error body {
	Background-image: url(https://www.tenstickers.co.uk/wall-stickers/img/preview/no-signal-tv-sticker-4537.png);
	Background-position : center ;
	Background-size: auto 375px;
		Height: 100%;
	Background-repeat : no-repeat ;
	Margin: 0;
} */
#error {
	position : fixed ;
	Top: 0;
	Bottom: 0;
	Left : 0;
	Right: 0;
	Background-color : rgba(0, 0, 0, 0.5);
}
#error #message {
	position : absolute;
	Top: 50%;
	Left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	Transform: translateX(-50%) translateY(-50%);
	Text-align : center;
	font-size: 1.4em;
	Width: 395px;
}
#error #message>div {
	Width: 75%;
	Min-height: 75%;
	Margin: auto;
	Padding:  50px 0px 0px;
}
#error #message div #text {
	Padding : 10px;
	Color: rgb(241, 234, 234);
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.6);
}